<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AKEKOUKOU</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/about">About
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about_me">About moi</a></li>
          <li><a href="/about_group">About le groupe</a></li>
          <li><a href="/about">About la vie</a></li>
        </ul>
      </li>
      <li><a href="/contact">Contact</a></li>

    </ul>
  </div>
</nav>
<h1>Téléphone</h1>
<p>06 MILLE</p>
