<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Coucou le backend</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="user_new">Création d'utilisateur</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="user_new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div style="margin-left: 20%; margin-top:100px;">
<h1>Don't stop, never give up, lalala</h1>
  <p> Pour créer un utilisateur, clique sur la navbar, section "création d'utilisateur". Fait crtl+clic pour ouvrir dans un nouvel onglet et garder la musique</p>
  <br>
  <h2> Par Paul B., aka the minister of mixture </h2>
<iframe width="654" height="280" src="https://www.youtube.com/embed/GLQ0biK-ZgA?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
